* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sofia", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: Green;
    color: #fff;
}

header .logo h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('file:///Users/kiranfayyaz/Downloads/undraw_business_chat_re_gg4h.svg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.hero-section h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero-section button {
    padding: 10px 20px;
    font-size: 18px;
    color: purple;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-section button:hover {
    background-color: Teal;
}

.shop-section, .about-section, .contact-section {
    padding: 50px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.product-card {
    width: 30%;
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 15px 0;
}

.product-card p {
    font-size: 20px;
    color: #333;
}

.product-card:hover {
    transform: scale(1.05);
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: White;
}